

.container {
      gap: 0.1px;
      

}

#form {
      display: flex;
      flex-direction: column;
      min-height: 200px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      align-items: center;
      letter-spacing: 0.8px;
      color: #5a4a42e5;
      background-color: #e1cfbf86;
      
      

}

#form-catalogo {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      
}

input {
      border-radius: 15px;
      border: solid 2px #5a4a4259;
      background-color: rgba(240, 248, 255, 0.199);
      cursor: default;
      width: 100%;
      height: 22px;
}

input:hover {
      background-color: rgba(240, 248, 255, 0.432);
      cursor: default;
}

button {
      border-radius: 17px;
      background-color: black;
      color: white;
      padding: 7px;
      font-size: 11px;
      letter-spacing: 1px;
}

button:hover {
      background-color: rgb(44, 44, 44);
      cursor: pointer;
}


.catalogo {
      font-size: 15px;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.185);
}

.catalogo:hover {
      cursor: default;
      
}

.img-catalogo {
      border-radius: 8px;
      min-height: 130px;
      min-width: 130px;
      max-height: 130px;
      max-width: 130px;
}

.cards_catalogo {
      display: flex;
      flex-direction: column;
      align-items: center;         
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.185);
      border-radius: 20px;
      max-width: 150px;
      border: solid 1px rgba(0, 0, 0, 0.116);
      padding: 10px;
      
      
      
}

.cards_catalogo:hover {
      cursor: default;
      
}

.texto_card {
      text-align: center;
      color: black;
}