.cards {

      min-height: 10px;
      max-height: 15px;

}

.container {
      gap: 0.1px;
      

}

.form {
      display: flex;
      flex-direction: column;
      min-height: 200px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      align-items: center;
      letter-spacing: 0.8px;
      color: #5a4a42e5;
      background-color: #e1cfbf86;

}

input {
      border-radius: 15px;
      border: solid 2px #5a4a4259;
      background-color: rgba(240, 248, 255, 0.199);
      cursor: default;
      width: 100%;
      height: 22px;
}

input:hover {
      background-color: rgba(240, 248, 255, 0.432);
      cursor: default;
}

button {
      border-radius: 8px;
      border: solid 1px;
      background-color: rgba(240, 248, 255, 0.199);
}

button:hover {
      background-color: rgba(255, 233, 173, 0.411);
      cursor: pointer;
}



.esqueceu {
      background-color: #5a4a4256;
      padding: 10px;
      border-radius: 10px 0 10px 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.185);
}

.esqueceu:hover {
      cursor: default;
      background-color: #836b5f60;
}

.vamos {
      font-size: 12px;
      text-transform: none;
}