

.container {
      gap: 0.1px;
      

}

.form {
      display: flex;
      flex-direction: column;
      min-height: 200px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      align-items: center;
      letter-spacing: 0.8px;
      color: #5a4a42e5;
      background-color: #e1cfbf86;

}


button:hover {
      background-color: rgba(255, 233, 173, 0.411);
      cursor: pointer;
}


.materiais {
      font-size: 15px;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.185);
}

.materiais:hover {
      cursor: default;
      
}

.img-materiais {
      border-radius: 7px;
      width: 280px;
      height: auto;
           
      
}



.texto_materiais {
      text-transform: none;
}

