.cards {

      
      max-height: 20px;


}

.icon {
      max-width: 18px;
      padding-right: 10px;
}

.container {
      gap: 0.1px;
      

}

.form {
      display: flex;
      flex-direction: column;
      min-height: 200px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      align-items: center;
      letter-spacing: 0.8px;
      color: #5a4a42e5;
      background-color: #e1cfbf86;

}


button:hover {
      background-color: rgba(255, 233, 173, 0.411);
      cursor: pointer;
}


.processo {
      font-size: 15px;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.185);
}

.processo:hover {
      cursor: default;
      
}

.img-processo {
      border-radius: 8px;
      max-width: 250px;
      min-width: 250px;
      max-height: 250px;
      min-height: 250px;
}


.texto_processo {
      text-transform: none;
}

